// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.my-body {
  background-color: #343a40;

  .my-title {
    color: #fff;
    text-align: center;
    margin: 20px 0;
  }

  .img-col {
    text-align: center;
  }
  
  .table-img {
    height: 150px;
    display: block;
    margin: 0 auto;
  }
  
  .card img {
    height: 300px;
    display: block;
    margin: 0 auto;
  }
  
  button {
    display: block;
    margin: 20px auto; 
  }

  .my-form {
    margin: 20px auto;
    width: 50%;

    .my-label {
      color: #fff;
      text-align: right;
    }
  }
}

