// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.img-col {
  text-align: center;
}

.table-img {
  height: 150px;
  display: block;
  margin: 0 auto;
}
